<div class="nested-fields">
<!--
-->
    <%= ch.label "子1" %>
    <%= ch.text_field :c_name_1 %>
    <%= ch.label "子2" %>
    <%= ch.text_field :c_name_2 %>
    <%#= link_to_remove_association "子を削除", ch %>
    
    <div>
    <%= link_to_add_association "孫を追加", ch, :grandchildren,
    class: 'btn btn-success',
      class: 'btn btn-success',
      data: {
        data_association_insertion_traversal: 'closest',
        association_insertion_method: 'append' }
    %>
    </div>

    <%= ch.fields_for :grandchildren do |ga| %>
        <%= render "grandchild_fields", f: ga %>
    <%end%>

    
</div>