<h1>Parents#new</h1>
<%= form_with(model: @parent, local: true) do |s| %>
    <%= s.label "親"%>
    <%= s.text_field :p_name %>
    <div class="parents">
        <%= s.fields_for :children do |t| %>
            <%= render "children_fields", f: t %>
        <% end %>
        <div class="links">
            <%#= link_to_add_association "子を追加", s, :children %>
        </div>
    </div>
    <div class="actions">
        <%= s.submit %>
    </div>
<% end %>